<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/artist-home.css">
    <link rel="icon" href="../public/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="../public/css/bg.css">
    <title>Masinqo | Artist Home</title>
</head>
<body class="body login">
    <div class="container">
        <header class="header">
            <div id="logo">
                <img class="logo" src="../public/images/masinko-logo-white.png" alt="logo">
                <h1>Masinqo</h1>
            </div>
            <nav class="icons">
                <div class="nav-contents">
                    <img class="icon" src="../public/images/home.png" alt="home-icon">
                    <a class="nav__links" href="home.html">Home</a>
                </div>
                <div class="nav-contents">
                    <img class="icon" src="../public/images/add.png" alt="add_mucic-icon">
                    <a class="nav__links" href="#">Add Music</a>
                </div>
                <div class="nav-contents">
                    <img class="icon" src="../public/images/home.png" alt="logout-icon">
                    <a class="nav__links" href="#">Log Out</a>
                </div>
                <img class="menu-icon" src="../public/images/menu.png" alt="menu-icon">
            </nav>
        </header>
        <main class="main-container">
            <section class="main-container__artist">
                <img class="artist-image" width="100px" src="../public/images/artistPlaceholder.png" alt="artist-image">
                <p class="artist__header">Artist Name</p>
            </section>
            <div class="main-container__musics">
                <section>
                    <img class="music-image" src="../public/images/albumPlaceholder.png" width="200px" alt="music-image">
                    <p> You just have to comply with it</p>
                </section>
                <section>
                    <img class="music-image" src="../public/images/albumPlaceholder.png" width="200px" alt="music-image">
                    <p> You just have to comply with it</p>
                </section>
                <section>
                    <img class="music-image" src="../public/images/albumPlaceholder.png" width="200px" alt="music-image">
                    <p> You just have to comply with it</p>
                </section>
                <section>
            </div>
        </main>
    </div>
</body>
</html>